body {
	background: green;
	color: green;
	font-family: Terminal ;
	font-size: 170%;
}
#menu{
 color: white;
 background-color: black;
 padding-top: 2px;
 padding-bottom: 2px; 
 border-right: solid 1px blue; 

}
#content{
	height: 300px;
	color: black;
	overflow: auto;
}
.well{
	color: black;
}
